body {
    margin: 0;
    height: 120vh;
    background-image: url('Bgd/bgd1.jfif');
    background-size: cover;
    background-color: #fde7d0;
    background-position: center;
    background-repeat: no-repeat;
    /*animation: slide-up 30s infinite ;*/
}

@keyframes slide-up {
    0% {
        background-position: center;
    }
    100% {
        background-position: top;
    }
}

#ToseD{

font-weight: bold;
}
#headM{
    text-align: center;
    
}
    #imageStudio img {
        padding-left: 30%;
        width: 50%;
        height: 50%;
    }

   #linkpage1{
    text-align: center;
 
   }
   #LIpa3{
    text-decoration: none; 
    background-color: #4CAF50; 
    font-weight: bold;
    color: #000000; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
   #LIpa6{
    text-decoration: none; 
    background-color: #4CAF50; 
    font-weight: bold;
    color: #000000; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
   #LIpa1{
    text-decoration: none; 
    background-color: #4CAF50; 
    font-weight: bold;
    color: #000000; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
   #LIpa2{
    text-decoration: none; 
    background-color: #4CAF50; 
    font-weight: bold;
    color: #000000;  
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
   #endpage1{
    background-color: #FFECB3;
    text-align: center;
    height: 20vh;
   }
   #Telegram{
    text-decoration: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
   #LIpa4{
    text-decoration: none; 
    background-color: #4CAF50; 
    font-weight: bold;
    color: #000000;  
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
