body{
    background-color: #fde7d0;
}
#back{
    text-decoration: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 20px;
    text-align: center;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    font-size: 5;
   }
   #Download{
    text-decoration: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 22px;
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    border-radius: 4px;
   }
   #Telegram{
    text-decoration: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
   }
   #Github{
    text-decoration: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }
   #youtube1{
    text-decoration: none; 
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
   }